.qtc_clangd/
.qtcreator/
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
/tmp/
/bin*/
build*/
/workdir/
*.pro.user
*.lexer.*
*.parser.*
*~
*.directory
*.autosave
*Thumbs.db
*.qm
*.orig
